[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
pandas = "*"
fastapi = "*"
uvicorn = "*"
gunicorn = "==19.9.0"
httptools = "*"

[dev-packages]

[requires]
python_version = "3.9"
